	body{
		background: black;
		color: white;
	}
	
	.box{
		border: 10px black solid;
	}



.t01x00{  border: 10px darken(#a57a4c,0) solid;  }
.t01x01{  border: 10px darken(#a57a4c,1) solid;  }
.t01x02{  border: 10px darken(#a57a4c,2) solid;  }
.t01x03{  border: 10px darken(#a57a4c,3) solid;  }
.t01x04{  border: 10px darken(#a57a4c,4) solid;  }
.t01x05{  border: 10px darken(#a57a4c,5) solid;  }
.t01x06{  border: 10px darken(#a57a4c,6) solid;  }
.t01x07{  border: 10px darken(#a57a4c,7) solid;  }
.t01x08{  border: 10px darken(#a57a4c,8) solid;  }
.t01x09{  border: 10px darken(#a57a4c,9) solid;  }

.t02x00{  border: 10px darken(#a57a4c,10) solid;  }
.t02x01{  border: 10px darken(#a57a4c,11) solid;  }
.t02x02{  border: 10px darken(#a57a4c,12) solid;  }
.t02x03{  border: 10px darken(#a57a4c,13) solid;  }
.t02x04{  border: 10px darken(#a57a4c,14) solid;  }
.t02x05{  border: 10px darken(#a57a4c,15) solid;  }
.t02x06{  border: 10px darken(#a57a4c,16) solid;  }
.t02x07{  border: 10px darken(#a57a4c,17) solid;  }
.t02x08{  border: 10px darken(#a57a4c,18) solid;  }
.t02x09{  border: 10px darken(#a57a4c,19) solid;  }

.t03x00{  border: 10px darken(#a57a4c,20) solid;  }
.t03x01{  border: 10px darken(#a57a4c,21) solid;  }
.t03x02{  border: 10px darken(#a57a4c,22) solid;  }
.t03x03{  border: 10px darken(#a57a4c,23) solid;  }
.t03x04{  border: 10px darken(#a57a4c,24) solid;  }
.t03x05{  border: 10px darken(#a57a4c,25) solid;  }
.t03x06{  border: 10px darken(#a57a4c,26) solid;  }
.t03x07{  border: 10px darken(#a57a4c,27) solid;  }
.t03x08{  border: 10px darken(#a57a4c,28) solid;  }
.t03x09{  border: 10px darken(#a57a4c,29) solid;  }

.t04x00{  border: 10px darken(#a57a4c,30) solid;  }
.t04x01{  border: 10px darken(#a57a4c,31) solid;  }
.t04x02{  border: 10px darken(#a57a4c,32) solid;  }
.t04x03{  border: 10px darken(#a57a4c,33) solid;  }
.t04x04{  border: 10px darken(#a57a4c,34) solid;  }
.t04x05{  border: 10px darken(#a57a4c,35) solid;  }
.t04x06{  border: 10px darken(#a57a4c,36) solid;  }
.t04x07{  border: 10px darken(#a57a4c,37) solid;  }
.t04x08{  border: 10px darken(#a57a4c,38) solid;  }
.t04x09{  border: 10px darken(#a57a4c,39) solid;  }

.t05x00{  border: 10px darken(#a57a4c,40) solid;  }
.t05x01{  border: 10px darken(#a57a4c,41) solid;  }
.t05x02{  border: 10px darken(#a57a4c,42) solid;  }
.t05x03{  border: 10px darken(#a57a4c,43) solid;  }
.t05x04{  border: 10px darken(#a57a4c,44) solid;  }
.t05x05{  border: 10px darken(#a57a4c,45) solid;  }
.t05x06{  border: 10px darken(#a57a4c,46) solid;  }
.t05x07{  border: 10px darken(#a57a4c,47) solid;  }
.t05x08{  border: 10px darken(#a57a4c,48) solid;  }
.t05x09{  border: 10px darken(#a57a4c,49) solid;  }
