

$board:            rgb(36,36,36);
$po12_shadow:      rgb(15,107,82);
$po12:             rgb(25,150,113);
$po14_shadow:      rgb(0,120,145);
$po14:             rgb(9,166,201);
$po16_shadow:      rgb(162,73,44);
$po16:             rgb(248,121,76);
$po28_shadow:      rgb(171,39,30);
$po28:             rgb(242,27,28);
$po24_shadow:      rgb(201,160,52);
$po24:             rgb(248,191,44);
$po20_shadow:      rgb(84,41,137);
$po20:             rgb(118,56,193);
$po33_knob:        rgb(125,127,126);
$po33:             rgb(243,71,38);
$po35_case:        rgb(201,202,200);
$po35:             rgb(19,139,143);
$po32_button:      rgb(61,62,62);
$po32:             rgb(246,246,246);
$gold_low:         rgb(218,175,106);
$gold_hi:          rgb(245,201,134);
$screen_white_hi:  rgb(227,230,232);
$screen_white_lo:  rgb(199,205,208);
$screen_grey:      rgb(172,178,180);
$screen_black_hi:  rgb(79,80,81);
$screen_black_lo:  rgb(20,21,21);
